<body>
    <div class="content">

        <section class="image-bio">
            <aside>
                <header>
                    <h4><u>Subash Kharel</u></h4>
                    <h5>Hola! Let me introduce myself. I am Subash Kharel. Though working is not my hobby, I have worked in C#, EntityFramework, <abbr title="Structured Query Language">SQL</abbr>, <abbr title="Hypertext Preprocessor">PHP</abbr>, Bootstrap, <abbr title="Cascading Style Sheets">CSS</abbr>, and Asp.Net sometime in life to earn for my living. Playing  football, watching movies, driving long way, listening to music, etc are my hobbies. I call myself neither introverted not extroverted guy, but in the boundary line between. Making fun of my friends and seeing them being annoyed is my part-time job. Thats all for boasting, keep in touch with me to know more.					
                    </h5>
                </header>
            </aside>
            <!-- -->
            <img src="images/profile.jpg"/>
            
        </section>
        
        <section class="quotes">
            <article>
                <blockquote cite="http://www.google.com">
                    <q>Take up one idea. Make that one idea your life--think of it, dream of it, live on that idea. Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone. This is the way to success.</q>
                    <div class="float-right"><strong>-- Swami Vivekananda</strong></div>
                </blockquote>
            </article>
            <br>
            <article>
                <blockquote cite="http://www.google.com">
                    <q>Don't judge a book by its cover.</q>
                    <div class="float-right"><strong>-- Anonymous</strong></div>
                </blockquote>
            </article>
        </section>

        <section class="weekly-schedule">
            <table>
                <caption>Weekly Schedule</caption>
                <tbody>
                    <tr>
                        <td>
                            <div class="day-container">
                                <div class="weekday">Mon</div>
                                <div class="work"><img src="./images/icon_work.png" alt="work"> 7 - 11am</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 1 - 4pm</div>
                                <div class="work"><img src="./images/icon_soccer.png" alt="work"> 6 - 8pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 10 - 11pm</div>
                            </div>
                        </td>
                        <td>
                            <div class="day-container">
                                <div class="weekday">Tue</div>
                                <div class="work"><img src="./images/icon_work.png" alt="work"> 7 - 11am</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 1 - 4pm</div>
                                <div class="work"><img src="./images/icon_gaming.png" alt="work"> 6 - 8pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 10 - 11pm</div>
                            </div>
                        </td>
                        <td>
                            <div class="day-container">
                                <div class="weekday">Wed</div>
                                <div class="work"><img src="./images/icon_work.png" alt="work"> 7 - 11am</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 1 - 4pm</div>
                                <div class="work"><img src="./images/icon_soccer.png" alt="work"> 6 - 8pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 10 - 11pm</div>
                            </div>
                        </td>
                        <td>
                            <div class="day-container">
                                <div class="weekday">Thu</div>
                                <div class="work"><img src="./images/icon_work.png" alt="work"> 7 - 11am</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 1 - 4pm</div>
                                <div class="work"><img src="./images/icon_gaming.png" alt="work"> 6 - 8pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 10 - 11pm</div>
                            </div>
                        </td>
                        <td>
                            <div class="day-container">
                                <div class="weekday">Fri</div>
                                <div class="work"><img src="./images/icon_work.png" alt="work"> 7 - 11am</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 1 - 4pm</div>
                                <div class="work"><img src="./images/icon_soccer.png" alt="work"> 6 - 8pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 10 - 11pm</div>
                            </div>
                        </td>
                        <td>
                            <div class="day-container">
                                <div class="weekend">Sat</div>
                                <div class="work"><img src="./images/icon_cycling.png" alt="work"> 9 - 11am</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 1 - 4pm</div>
                                <div class="work"><img src="./images/icon_gaming.png" alt="work"> 6 - 8pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 10 - 11pm</div>
                            </div>
                        </td>
                        <td>
                            <div class="day-container">
                                <div class="weekend">Sun</div>
                                <div class="work"><img src="./images/icon_cloth.png" alt="work"> 10 - 12pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 1 - 4pm</div>
                                <div class="work"><img src="./images/icon_soccer.png" alt="work"> 6 - 8pm</div>
                                <div class="work"><img src="./images/icon_study.png" alt="work"> 10 - 11pm</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <small>Effective through June 8<sup>th</sup> to July 31<sup>st</sup></small>
        </section>
    </div>

</body>